$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$blue: #80b3ff;
$purple: #ffb3ff;
$red: #f00;
$green: #4caf50;
$white: #fff;
$lightpurple: #eac5e2;
$darkblue: #222;

input {
  border: 2px solid $red;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 50%;
}

button {
  background-color: $green;
  border: border-box;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.main-content {
  background: $lightpurple;
  float: left;
  width: 30%;
}

.aside {
  float: left;
  width: 70%;
}

.wrapper,
html,
body {
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 60%;
}

td {
  border: 6px solid $darkblue;
  width: 33.333%;
}

td::after {
  content: '';
  display: block;
  margin-top: 60%;
}
// .board {
//   display: inline-grid;
//   float: left;
//   grid-template-columns: auto auto auto;
//   height: 70%;
//   padding: 10px;
//   width: 60%;
// }

.tic-piece {
  background-color: $blue;
  border: 1px solid $black;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
